#resume {
    padding: 3.5vh 0;
}


.resume-details {
    display: flex;
    flex-direction: column;
    justify-content: right;
    width: 70%;
    position: relative;
    text-align: left;
    flex-wrap: wrap;
    line-height: 1.0;
}

#resume h2 {
    padding: 10px;
    border: 2px solid black;
    position: relative;
    min-width: 20%;
    margin-right: 2vw;
    height: 30px;
    transition: linear 0.1s;
}

#resume h2:hover {
    /* border: 3px solid white; */
    background-color: black;
    color: white;
    /* transform: scale(1.05) */
}

.resume-container {
    display: flex;
    flex: 1 5;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    text-align: left;
    margin-bottom: 5vh;
    position: relative;
}

@media screen and (max-width: 1000px) {
	.resume-container {
		flex-direction: column;
		margin-bottom: 3vh;
	}

	#resume h2 {
		margin-bottom: 2vh;
	}

	summary {
		position: relative;
	}
	summary p {
		position: relative;
		width: 100%;
	}

	.resume-container {
		width: 100%;
	}

    .resume-details {
        width: 100%;
    }
}

#resume p {
    line-height: 1.1em;
}

#resume details {
    font-size: 20px;
    font-family: "Open Sans", sans-serif
}

summary {
    line-height: 1.2em;
}

#resume .divider {
    background-color: black;
}

#resume a {
    text-decoration: none;
    font-weight: bold;
	color: black;
}

.resume-details h3 {
    font-weight: bold;
    font-size: 22px;
}

#resume .resume-details p {
    line-height: 1.5em;
}

#resume .resume-details ul {
    margin-left: 1vw;
}